{% extends'layout.html' %}
{% block content %}
<div class="leftrow">
   <div class="leftp">
      <h3>Contact</h3>
      <p>
         Contact center<br>
         24/7 online telefoonnummer 023 7510606
         <br>
      <ul>
         <li>Vanuit het buitenland bereikt u ons via +31 237510606</li>
         <li>Maandag t/m vrijdag: 09.00 - 21.00 uur</li>
         <li>Zaterdag: 09.00 - 18.00 uur</li>
         <li>Zondag: 10.00 - 18.00 uur</li>
      </ul>
       <p>
           Social Media Ook de medewerkers van het webcare team zijn u graag van dienst.
           Via Facebook, Twitter en Instagram staan zij 7 dagen per week voor u klaar om al uw vragen te beantwoorden.
           Van maandag tot en met vrijdag van 09.00 tot 18.00 uur.
           Op zaterdag van 09.00 tot 18.00 uur en op zondag van 10.00 tot 18.00 uur.
           Via Facebook krijgt u binnen 24 uur een reactie.
       </p>
   </div>
</div>
{% endblock content %}