{% extends'layout.html' %}
{% block content %}
<div class="container">
   <div class="loginbox">
      <h1 style>Login</h1>
      <form method="post" action="/login">
         <div class="textbox">
            <i style="color: black" class=""></i>
            <input type="text" placeholder="naam" name="naam" value="" required>
         </div>
         <div class="textbox">
            <i style="color: black" class=""></i>
            <input type="text" placeholder="ticketnummer" name="ticket" id ="ticket" value="" required>
         </div>
         <input type="submit" name="log" value="Inloggen">
      </form>
   </div>
</div>
{% endblock content %}