{% extends'layout.html' %}
{% block content %}
<p>
    Algemene Voorwaarden
Corendon International Travel B.V. (KvK 34220902) is aangesloten bij de ANVR. De ANVR hanteert strenge normen voor het lidmaatschap en bevordert de kwaliteit van reizen en informatie daarover.

Daarnaast is Corendon lid van SGR, SGRZ en het Calamiteitenfonds. Hieronder lees je meer informatie. Verder vind je op deze pagina informatie over onze reis- en annuleringsverzekeringen.
    ANVR en Corendon Voorwaarden
Corendon International Travel B.V. (KvK 34220902) is aangesloten bij de ANVR. De ANVR hanteert strenge normen voor het lidmaatschap en bevordert de kwaliteit van reizen en informatie daarover. De reizen op deze website worden aangeboden onder de ANVR-Reizigersvoorwaarden (Reis- en/of Boekingsvoorwaarden en/of Gekoppeld Reisarrangement-voorwaarden) die van toepassing zijn op alle aanbiedingen op deze website vanaf 1 juli 2018 tenzij uitdrukkelijk wordt aangegeven dat dit niet het geval is.

Klik hier voor het lezen en opslaan van de ANVR-Reizigersvoorwaarden en overige belangrijke informatie.

Op het boekingsformulier moet je aanvinken dat je kennis hebt genomen van en akkoord gaat met de ANVR-Reizigersvoorwaarden (Reisvoorwaarden en/of Boekingsvoorwaarden en/of Gekoppeld Reisarrangement-voorwaarden) en overige ANVR-informatie

ANVR brochure

De ANVR-reizigersvoorwaarden gelden voor alle reizen die vanaf 1 juli 2018 zijn geboekt. De belangrijkste wijzigingen betreffen de aanpassingen in het kader van de Wet op de Pakketreisovereenkomst.

Op het boekingsformulier vink je aan dat je kennis hebt genomen van en akkoord gaat met de ANVR-Reizigersvoorwaarden en de Corendon Voorwaarden.
    Uw rechten bij een pakketreisovereenkomst
De combinatie van reisdiensten die u wordt aangeboden, is mogelijk een pakketreis in de zin van Richtlijn (EU) 2015/2302. Bijgevolg kunt u aanspraak maken op alle EU-rechten die voor pakketreizen gelden. Corendon is ten volle verantwoordelijk voor de goede uitvoering van de volledige pakketreis. Corendon beschikt ook over de wettelijke verplichte bescherming om u terug te betalen en, indien het vervoer in de pakketreis is inbegrepen, te repatriëren ingeval zij insolvent wordt. Meer informatie over basisrechten krachtens Richtlijn (EU) 2015/2302:
</p>
{% endblock content %}